.aside{

    background-color: $brown;

    position: relative;
    min-width: 38vh;
    position: relative;
    left: 6%;
    top: -8vh;


    @media (max-width: $width_mobile) {


        position: relative;
    left: 0%;
    top: 0vh;
    width: 99%;
        
    }
}