body{

    background-color: $dark-blue;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 16px;
   

}

header{

    background-color: $blue-header;
     
}

nav{

    color: $white;
    text-transform: uppercase;
    width: 100%;
    margin-right: 2%;
}

ul{

font-size: 16px;
list-style-type: none;
line-height: 1.5;

position: relative;
top:20%;
}


.header-image{

    width: 100%;

}

.div_link{

    background-color: $brown;

    width: 31vh;
}

h1{

    color: $color-text;
font-family: "Gafata",Sans-serif;
font-size: 38px;
font-weight: 100;
letter-spacing: 7.4px;
}



.position_text{

    position: relative;
    left: 8%;
   
    @media (max-width:$width_mobile){
    
        position: relative;
        left: 0%;

    }

  }

  .titre-header{

    @media (max-width:$width_mobile) {
        
        width: 84%;

    }

  }

.category{

    display: none;
    background-color: $blue-header;

}

.link_nav{

    color: white;
    text-decoration: none;

    :hover{

        color: white;
        text-decoration: none;

    }
}

a{

    color:white;

}

