body{

    background-color: $dark-blue;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: 16px;
    margin-right: 5%;
    margin-left: 5%;

}

header{

    background-color: $blue-header;
     height:8vh;
}

nav{

    color: $white;
    text-transform: uppercase;
    width: 70%;
    margin-right: 2%;
}

ul{

font-size: 16px;
list-style-type: none;
line-height: 1.5;

position: relative;
top: 30%;

}

.logo{



    position: relative;
    top: 23%;
    left: 41%;

}


.header-image{

    width: 100%;

}

.div_link{

    background-color: rgba(38,38,38,1);

    width: 31vh;
}

h1{

    color: #798DAE;
font-family: "Gafata",Sans-serif;
font-size: 38px;
font-weight: 100;
letter-spacing: 7.4px;
}



.position_text{

    position: absolute;
    left: 29%;
    top: 53%;

  }

