footer{

    background-color: black;
  
  position: relative;
  left:0%;
 

  justify-content: space-evenly;

}

.box_footer{

  justify-content: space-around;

  display: flex;

  @media (min-width:$width_mobile) and (max-width:$width_tablette){

    display: block;

    position: relative;
    left: 30%;
    
  }

 
}

.div_footer{

  @media (min-width:$width_mobile) and (max-width:$width_tablette){
padding-top: 2%;  

  }

}