footer{

    background-color: black;
  
  position: relative;
  left:0%;
 
  justify-content: space-evenly;

 

}

.box_footer{

  justify-content: space-around;

  display: flex;

  @media   (max-width:$width_mobile) {
   
    display: block;

  }

  @media (min-width:$width_mobile) and (max-width:$width_tablette){

    display: block;

    position: relative;
    left: 30%;
    
  }

 
}

.div_footer{

  @media (max-width:$width_mobile) {
    
    height: 6vh;

    position: relative;
    left: 33%;

  }

  @media (min-width:$width_mobile) and (max-width:$width_tablette){
padding-top: 2%;  

  }

}