.position-titre{
    position: relative;
    left: 35%;



    @media (max-width: $width_mobile) {

        position: relative;
        left: 0%;

    }

    @media (min-width:$width_mobile) and (max-width:$width_tablette){

        position: relative;
        left: 0%;


    }
}