.ul{

    display: flex;
    
    justify-content: space-around;

    @media (max-width: $width_mobile) {

        display: block;
        
    }

    @media (min-width:$width_mobile) and (max-width:$width_tablette){
        display: block;

    }

}